.countdown{
  display: flex;
  flex-wrap: wrap;
  color: #0d1420;
    font-size: 50px;
    font-family: Arial;
    letter-spacing: 5px;
    text-align: center;
    background-color: #f7d06a;
    border: 10px solid #091321;
    border-radius: 20px;
  
}
.digital-clock{
  display: flex;
  flex-wrap: wrap;
  color: #0d1420;
    font-size: 50px;
    font-family: Arial;
    letter-spacing: 5px;
    text-align: center;
    background-color: #f7d06a;
    border: 10px solid #091321;
    border-radius: 20px;
}
 






.stopwatch{
  color: #0d1420;
    font-size: 50px;
    font-family: Arial;
    letter-spacing: 5px;
    text-align: center;
    background-color: #f7d06a;
    border: 10px solid #091321;
    border-radius: 20px;
}
 




